pip==23.2.1
setuptools==68.0.0
wheel==0.41.2


Django==4.2.11
djangorestframework==3.14.0
django-cors-headers==4.3.1
whitenoise==6.6.0

absl-py==2.1.0
astunparse==1.6.3
flatbuffers==23.5.26
gast==0.4.0
google-pasta==0.2.0
grpcio==1.59.0
h5py==3.8.0
keras==2.15.0
libclang==16.0.6
ml-dtypes==0.2.0
numpy==1.24.4
opt-einsum==3.3.0
protobuf==3.20.3
six==1.16.0
termcolor==2.3.0
typing_extensions==4.8.0
wrapt==1.14.1

tensorflow-cpu==2.15.0
opencv-python-headless==4.8.1.78

python-decouple==3.8
gunicorn==21.2.0